---
import Layout from "@layouts/Layout.astro";
import Carousel from "@components/banner.astro";
import Heading from "@components/heading.astro";
---

<Layout page={null}>
	
	<section class="container mt-9 mb-12">
		<Heading title="404 - File Not Found" />
	</section>
</Layout>
