---
import { type IApiContentResponseModel } from "@scripts/api";
import { GetSitemap } from "@scripts/clients/UmbracoClient";
import SitemapBranchChild from "@components/sitemapBranch.astro";

interface Props {
	path?: string;
}

const { path } = Astro.props;

const pages = await GetSitemap(path);
---

<ul class="list-disc ml-10">
	{
		pages?.items?.map((page: IApiContentResponseModel) => (
			<a
				href={page.route.path}
				class={page.route.path == Astro.url.pathname ? "active no-underline hover:underline text-black" : "no-underline hover:underline text-black"}
			>
				<li class="text-black">
					{page?.properties?.title ?? page.name}
					<SitemapBranchChild path={page.route?.path} />
				</li>
			</a>
		))
	}
</ul>
