<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="71f55766-9a34-4552-939b-11331139933e" Alias="generic" Level="1">
  <Info>
    <Name>Generic</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ff1a9391-b677-40d2-9e7d-ac4514a848b4">banner</Composition>
      <Composition Key="a717a767-169b-484f-b094-0a441b013df4">settings</Composition>
    </Compositions>
    <DefaultTemplate>Generic</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9425899-04a3-4b9a-b8bb-edf8c83a95e0">Generic</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="71f55766-9a34-4552-939b-11331139933e" SortOrder="0">generic</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d4cc394a-2891-4a51-b385-b96538a2dc6d</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>961e8efd-1d81-4784-b5a6-2a5a5c82c341</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81fe56dc-a49e-499b-8cbe-d019233347f7</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a897e351-8f89-4f39-88e8-538e1c811ef8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>