<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ad9e1e2-e5b2-485a-8fd4-9dbeee54a35e" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ff1a9391-b677-40d2-9e7d-ac4514a848b4">banner</Composition>
      <Composition Key="a717a767-169b-484f-b094-0a441b013df4">settings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8e8a8eac-07e6-48ee-a2c3-66dee276ec1f" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>006b70f1-b52b-4775-bc4d-35a98f82b806</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>961e8efd-1d81-4784-b5a6-2a5a5c82c341</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fe428244-9bd5-40ae-9db4-3ab5a98f610d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>