<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba9eae99-0815-4657-9d16-6a9412321dff" Alias="Bullets" Level="1">
  <Info>
    <Name>Bullets</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>