<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d940849-db24-4bd6-b57c-fdef35fb3d9a" Alias="Homepage - Email Address - Email address" Level="1">
  <Info>
    <Name>Homepage - Email Address - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>