<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a60010f7-36c2-4053-aa22-b06767025f25" Alias="Multi URL Picker - Single" Level="1">
  <Info>
    <Name>Multi URL Picker - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>