<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5c8726b-0fa6-4bd9-bddf-cd244eeb027e" Alias="Person - CV" Level="1">
  <Info>
    <Name>Person - CV</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "File",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>