<?xml version="1.0" encoding="utf-8"?>
<DataType Key="961e8efd-1d81-4784-b5a6-2a5a5c82c341" Alias="Generic Content" Level="2">
  <Info>
    <Name>Generic Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a3b28fed-9fe6-48c7-8669-b91d4c3ad537",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Promotional Image - {{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "39d331ca-ae99-4677-bb37-0229f8b642f3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Text With Image - {{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4ae1f01a-0b78-4388-bbb6-6a716ada0ea0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Tabbed Content - {{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "11f678b5-b0a2-4494-ba9b-d88d72ce1b35",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Accordion - {{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f39ab459-d90e-4cd9-8389-98b1471fc2a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Carousel - {{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e8ee51fe-0f70-4d88-aa25-5df8e806e489",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "TwoUp - {{ title }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a18c5794-3b9e-4513-a32b-33a243a8f0d4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Sitemap - {{title}]",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a94303ea-5042-48b6-a4d8-992db876d7da",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Text - {{ text | ncRichText | truncate:true:75 }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>